/* General body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://static.toiimg.com/thumb/msid-109579905,width-400,height-225,resizemode-72/109579905.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Form container */
form {
    background-color: #ffffff;
    padding: 18px 25px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgb(0, 0, 0);
    width: 80%;
    max-width: 380px;
}

/* Form labels */
form label {
    display: block;
    font-weight: 500;
    margin-bottom: 1px;
}

/* Form inputs and select */
form input[type="text"],
form input[type="password"], 
form input[type="date"],
form input[type="file"],
form select,
form textarea {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 13px;
    box-sizing: border-box;
}

/* Submit button */
form button[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Error messages from Django forms */
form .errorlist {
    color: red;
    /* margin-top: -10px;
    margin-bottom: 10px; */
    font-size: 13px;
    margin: 2px 0 6px 0;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }

    form button[type="submit"] {
        font-size: 15px;
    }
}


/* Button styling */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #264e86;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: #1c3a63;
}