/* Page Background */
body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/201905/b554da62-a1a1-494d-910a-30b2e6_1.jpeg?size=690:388');
    background-size: cover;
}

/* Title */
.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #162fbf89;
}

/* Table Styling */
.voter-table {
    width: 80%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.795);
    /* background-color: transparent; */
    margin: auto;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.voter-table th, 
.voter-table td {
    padding: 5px;
    border: 1px solid #0f0101b0;
    text-align: center;
}

.voter-table th {
    background: #222222;
    color: white;
    font-size: 16px;
    padding: 8px;
}

/* Image Styling */
.profile-img {
    width: 80px;
    height: 70px;
    border-radius: 8px;
    background: #e0e0e0;   /* gray background */
    padding: 5px;
}

/* Button Styling */
.create-btn {
    display: inline-block;
    padding: 12px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.create-btn:hover {
    background: #0056b3;
}

/* Center Button */
.btn-container {
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
    padding: 12px 25px;

    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: #1f2d3d;
    background: rgba(255, 255, 255, 0.75); /* light transparent */
    backdrop-filter: blur(6px);

    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);

    display: inline-block;
}

.heading-container {
    text-align: center;
}