{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>
<body>
    
    <form method="post" action="{% url 'card' %}" enctype="multipart/form-data">
        <h4>Voter Form</h4>
        <label>Admin Password</label>
        <input type="password" name="admin_password" required>
        {% csrf_token %}
            
        {{ form.as_p }}
        <button type="submit">CREATE CARD</button>
    </form>
    <div class="btn-container">
        <a href="{% url 'list' %}" class="btn outside-btn">List Of Voters</a>
        <a href="{% url 'home' %}" class="btn outside-btn">Home</a>
    </div>
    
</body>
</html>