{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'list.css' %}">
</head>
<body>
    <div class="heading-container">
        <h3>👤 List of voters</h3>
    </div>
    <table border="4" class="voter-table">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date_of_birth</th>
            <!-- <th>Age</th> -->
            <th>Address</th>
            <th>voter_id</th>
            <th>Image</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.name}}</td>
            <td>{{x.gender}}</td>
            <td>{{x.date_of_birth}}</td>
            <!-- <td>{{x.age}}</td> -->
            <td>{{x.address}}</td>
            <td>{{x.voter_id}}</td>
            <td>
                {% if x.image %}
                <a href="{% url 'getvoter' x.id %}">
                    <img src="{{ x.image.url }}" class="profile-img"></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="btn-container">
        <a href="{% url 'addvoter' %}" class="create-btn">Create New Card</a>
        <a href="{% url 'home' %}" class="create-btn">Home</a>
    </div>

</body>
</html>


